@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(249 251 255);
  color: #222;
}

.required {
  color: #ff0000;
  font-size: 0.9rem;
}
.bg-banner {
  background-image: url("./assets/bg-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 0.75rem;
  overflow: hidden;
  min-height: 200px;
}
@layer components {
  .container {
    @apply mx-auto px-4;
  }
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-normal rounded-md shadow-md hover:bg-blue-700;
  }
  .header-three-001 {
    @apply text-xl sm:text-3xl mb-3 text-primary;
  }
  .header-four-001 {
    @apply text-xl sm:text-3xl;
  }
  .login-wrapper {
    @apply w-full max-w-lg shadow px-7 py-7 sm:px-14 sm:py-14 rounded-2xl bg-white;
  }
  .form-group {
    @apply mb-6;
  }
  .form-label {
    @apply block mb-1;
  }
  .form-input {
    @apply block w-full shadow-sm border rounded py-2 px-2;
  }
  .error {
    @apply text-red-600 text-sm;
  }
}

.icon-user {
  width: 30px;
}
